

.pageContainer{

    &__image-container{
        height:100px;


    }
    // &_image{

    // }
    // &__content-container{

    // }
    &__tagline{
        text-decoration: none;

    }
    &__name{
        text-decoration: none;

    }
    &__description{
        text-decoration: none;

    }
    &__stats-container{
        text-decoration: none;

    }
    &__abv{
        text-decoration: none;

    }
    &__first-brewed{
        text-decoration: none;

    }
    &__ph{
        text-decoration: none;

    }
    &__food-pairing{
        text-decoration: none;

    }
    &__brewers-tips{
        text-decoration: none;

    }


}