@use "../../assets/sass/variables" as *;

.pageContainer {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-evenly;
  //   align-items: center;
  border: 2px solid $colorThree;
  margin: 2%;
  background-color: $colorTwo;
  border-radius: 2rem;
  text-align: center;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image image image top top top"
    "image image image brewers-tips brewers-tips brewers-tips"
    "image image image food-pairing food-pairing food-pairing"
    "image image image stat-container stat-container stat-container"
    "description description description description description description";

  &__image-container {
    margin: 5%;
    grid-area: image;
    height:20%;
  }

  &__top-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . cross"
      "tagline tagline tagline"
      "name name name"; 

    grid-area: top;
    height:20%;
    border: 5px solid $colorFive;
    background-color: $colorFour;
    border-radius: 2rem;
  
    justify-self: end;

  }
  &__tagline{
    grid-area:tagline;
  }
  &__name{
    grid-area:name;
  }

  &__cross {
    grid-area:cross;
    align-self: end;
    justify-self: end;

    &:hover {
      cursor: pointer;
      background-color: $colorTwo;
      border-radius: 50%;
    }
  }

 
  &__content-container {
    width: 100%;
    height:100%;
    border: 5px solid $colorFive;
    background-color: $colorFour;
    border-radius: 2rem;
  }
  &__stats-container {
    grid-area: stat-container;
    height:20%;
    border: 5px solid $colorFive;
    background-color: $colorFour;
    border-radius: 2rem;

  }
  &__food-container {
    grid-area: food-pairing;
    height:20%;
    border: 5px solid $colorFive;
    background-color: $colorFour;
    border-radius: 2rem;

  }

  &__brewer-container {
    grid-area: brewers-tips;
    height:20%;
    border: 5px solid $colorFive;
    background-color: $colorFour;
    border-radius: 2rem;

  }
  &__description-container {
    grid-area: description;
    height:20%;
    border: 5px solid $colorFive;
    background-color: $colorFour;
    border-radius: 2rem;

  }

}
