@use "../../assets/sass/variables" as *;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: $colorFour;
  min-height: 10rem;

  &__content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  &__filter-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  &__profile-menu-container {
    margin: 2%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__home-menu-container {
    margin: 2%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__search{
    height: 10rem;
  }
}
