@use "../../assets/sass/variables" as *;


.cardContainer{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color:$colorFour;
    margin: 5%;
    padding:1%;
    border: solid 2px $colorFive;
    border-radius: 1rem;
    font-size:large;
    text-decoration: none;

}