@use "../../assets/sass/variables" as *;

.checkbox {
  // border: 2px solid $colorThree;
  // border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;


  &__container {
    border: 5px solid $colorThree;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "two twoLabel favourite favouriteLabel"
      "one oneLabel three threeLabel";
      align-items: center;
  }

  &__title {
    font-weight: 350;
    font-size: medium;
  }

  &__one {
    grid-area: one;
  }
  &__one-label {
    grid-area: oneLabel;
  }

  &__two {
    grid-area: two;
  }
  &__two-label {
    grid-area: twoLabel;
  }

  &__three {
    grid-area: three;
  }
  &__three-label {
    grid-area: threeLabel;
  }
}
