@use "../../assets/sass/variables" as *;

.checkbox{
    border:2px solid $colorThree;
    border-radius: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap:wrap;
    gap:0.8rem;
    height:14rem;
    width:10rem;

    &__title{
        font-weight: 350;
    }

    &__one{
        margin-left: 5%;
    }

    &__two{
        margin-left: 5%;
    }

    &__three{
        margin-left: 5%;
    }




}