@use "../../assets/sass/variables" as *;


.searchBar{
    height:10rem;
    width:10rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    border: 2px solid red;
    border-radius: 1rem;

&__title{
    font-size: larger;
    padding-top:5%;

}

&__input{
    margin-top: 2rem;
}
}