@use "../../assets/sass/variables" as *;


.searchBar{
    height:7rem;
    width:10rem;
    margin: 2rem 0rem;
    flex-wrap: wrap;
    border:2px solid $colorThree;
    border-radius: 1rem;

&__title{
    font-size: larger;
    padding-top:5%;

}

&__input{
    margin-top: 2rem;
    width:80%;
}
}