@use "../../assets/sass/variables" as *;


.searchBar{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:7rem;
    width:10rem;
    border:5px solid $colorThree;
    border-radius: 1rem;
    margin-right: 10%;
    margin-bottom: 2%;
&__title{
    font-size: medium;

}

&__input{
    width:5rem;
}
}